{% extends "blog/base.html"%}
{% block content%}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">delete post</legend>
                <h2>Are you sure you want to delete {{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <button class="btn btn-outline-secondary" herf="{% url 'post-detail' object.id %}">Cancel</button>
            </div>
        </form>
    </div>
{% endblock content %}